:root {
  --first-text-color: #757575;
  --second-text-color: #212121;
  --accent-color: #2196f3;
  --footer-color: rgba(255, 255, 255, 0.6);
  --accent-background-color: #2f303a;
  --white-color: #ffffff;
  --black-color: #000000;
  --portfolio-background: #f5f5f5;
  --portfolio-button: #f5f4fa;
  --button-hero-activ: #188ce8;
  --port-stroke-color: #eeeeee;
  --color-border-header: #ececec;
  --icon-social: #afb1b8;
  --fotter-box-color: rgba(255, 255, 255, 0.1);
  --under-hero: #c4c4c4;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --time: 250ms;
  --work-sec-bg: rgba(47, 48, 58, 0.8);
  --overlay-color: rgba(33, 150, 243, 0.9);
  --overlay-modal-color: rgba(0, 0, 0, 0.2);
  --modal-button-border: rgba(0, 0, 0, 0.1);
  --input-field: rgba(33, 33, 33, 0.2);
  --color-border-email: rgba(255, 255, 255, 0.3);
  --color-email-place: rgba(255, 255, 255, 0.6);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background-color: var(--white-color);
  color: var(--first-text-color);
}

a {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.page-header {
  border-bottom: 1px solid var(--color-border-header);
}

.header {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-menu__list {
  display: flex;
  padding: 0;
  margin: 0;
  margin-left: auto;
  list-style: none;
  align-items: center;
}

.nav-menu__logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--black-color);
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  line-height: 1.2;
}

.nav-menu__logo--accent {
  color: var(--accent-color);
}

.nav-menu__item + .nav-menu__item {
  margin-left: 50px;
}

.nav-menu__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--second-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.1;
  text-decoration: none;
  transition: color var(--time) var(--cubic);
}

.link-contact {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  color: var(--first-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  line-height: 1.1;
  transition: color var(--time) var(--cubic);
}

.nav-menu__link:hover,
.nav-menu__link:focus,
.link-contact:hover,
.link-contact:focus {
  color: var(--accent-color);
}

.nav-menu__icon{
  fill: currentColor;
  margin-right: 10px;
}

.nav-menu__link--current {
  color: var(--accent-color);
}

.nav-menu__link--current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  background-color: var(--accent-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.portfolio {
  background-color: var(--white-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  margin-top: 0;
  margin-bottom: 50px;
  padding-left: 0;
  list-style: none;
}

.portfolio-list__button {
  font-family: inherit;
  padding: 6px 22px;
  background-color: var(--portfolio-button);
  border-radius: 4px;
  border: 1px solid transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  box-shadow: none;
  transition: color var(--time) var(--cubic), background-color var(--time) var(--cubic),
    box-shadow var(--time) var(--cubic);
}

.portfolio-list__button:hover,
.portfolio-list__button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.example-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.example-list__item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.example-list__item:nth-child(3n) {
  margin-right: 0;
}

.example-list__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.example-list__border {
  border: 1px solid var(--port-stroke-color);
  padding: 20px 24px;
}

.example-list__title {
  margin-top: 0px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
}

.example-list__text {
  margin-top: 0;
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}

.example-list__link {
  display: block;
  text-decoration: none;
  box-shadow: none;
  transition: box-shadow var(--time) var(--cubic);
}

.card-container {
  position: relative;
  overflow: hidden;
}

.card-container__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  transform: translateY(100%);
  transition: transform var(--time) var(--cubic), box-shadow var(--time) var(--cubic);
}

.example-list__link:hover .card-container__overlay,
.example-list__link:focus .card-container__overlay{
  transform: translateY(0);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-container__text {
  padding: 0 24px;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.example-list__link:hover,
.example-list__link:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--accent-background-color);
}

.address {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.address__item {
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  color: var(--footer-color);
  text-decoration: none;
  font-style: normal;
  transition: color var(--time) var(--cubic);
}

.address__link--difference {
  color: var(--white-color);
  transition: color var(--time) var(--cubic);
}

.address__link:hover,
.address__link:focus {
  color: var(--accent-color);
}

.footer__logo--accent {
  color: var(--white-color);
}

.footer__logo {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
  margin-right: 0;
  padding: 0;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  line-height: 1.2;
}

.social__title,
.join__title {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__link {
  display: inline-flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  border: none;
  border-radius: 50%;
  background-color: var(--fotter-box-color);
  transition: background-color var(--time) var(--cubic);
}

.social__link:hover,
.social__link:focus {
  background-color: var(--accent-color);
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__icon {
  fill: currentColor;
}

.footer {
  display: flex;
  align-items: baseline;
}

.social {
  margin-left: 70px;
}

.send-button {
  display: flex;
  margin-left: 12px;
}

.join__form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.send-button__button {
  display: inline-flex;
  padding: 10px 28px;
  align-items: center;
  justify-content: center;
  font: inherit;
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  transition: background-color var(--time) var(--cubic);
}
  
.send-button__button:hover,
.send-button__button:focus {
  background-color: var(--button-hero-activ);
}

.join {
  margin-left: 93px;
}

.send-button__icon {
  margin-left: 10px;
}

.join__input {
  display: inline-block;
  font: inherit;
  width: 358px;
  padding: 15px 16px;
  border: 1px solid var(--color-border-email);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
  font-size: 16px;
  line-height: 1.3px;
  letter-spacing: 0.03em;
  color: var(--color-email-place);
  background-color: var(--accent-background-color);
  transition: border var(--time) var(--cubic);
}

.join__input:focus {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  color: var(--white-color);
}

/*main page*/

.modal {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--overlay-modal-color);
  opacity: 1;
  transition: opacity var(--time) var(--cubic), 
  visibility var(--time) var(--cubic);
}

.modal.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal.is-hidden .form {
  transform: translate(-50%, -50%) scale(1.1);
}

.form-modal {
  position: absolute;
  z-index: 100;
  display: flex;
  justify-content: right;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  min-height: 581px;
  background-color: var(--white-color);
  transition: transform var(--time) var(--cubic);
}

.form-modal__button {
  position: absolute;
  display: inline-flex;
  top: 8px;
  right: 8px;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid var(--modal-button-border);
  border-radius: 50%;
  color: var(--black-color);
  background-color: var(--white-color);
  transition: color var(--time) var(--cubic);
}

.form-modal__button:hover,
.form-modal__button:focus {
  color: var(--accent-color);
}

.form-modal__icon {
  fill: currentColor;
}

.callback {
  width: 448px;
  margin: 0 auto;
}

.callback__title {
  margin: 40px 0 30px 0px;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.callback__input {
  padding: 0;
  padding-left: 42px;
  width: 448px;
  height: 40px;
  border: 1px solid var(--input-field);
  border-radius: 4px;
  fill: var(--black-color);
  outline: none;
  transition: border var(--time) var(--cubic),
  fill var(--time) var(--cubic);
}

.callback__field {
  position: relative;
  margin-bottom: 28px;
  color: var(--second-text-color);
}

.callback__label {
  position: absolute;
  top: 0;
  transform: translateY(-20px);
  margin-bottom: 4px;
  font: inherit;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--first-text-color);
}

.callback__input:focus {
  border-color: var(--accent-color);
}

.callback__input:focus + .callback__icon {
  fill: var(--accent-color);
}

.callback__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: currentColor;
}

.callback__feedback {
  display: block;
  font: inherit;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid var(--input-field);
  border-radius: 4px;
  outline: none;
  transition: border var(--time) var(--cubic);
}

.callback__feedback:focus {
  border-color: var(--accent-color);
}

.callback__checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.callback__checkbox-text {
  display: inline-block;
  margin-right: 9px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--black-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color:transparent;
  border-radius: 2px;
  transition: border var(--time) var(--cubic),
  background-color var(--time) var(--cubic);
}

.callback__link {
  margin-left: 5px;
  text-decoration: underline;
  color: var(--accent-color);
}

.callback__checkbox:checked + .callback__checkbox-text {
  background-image: url(../images/check.svg);
  border: 2px solid var(--accent-color);
  background-color: var(--accent-color);
  background-size: contain;
  background-origin: border-box;
  border-radius: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.callback__checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.callback__button {
  text-align: center;
}

.callback__send-button {
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  min-width: 200px;
  padding: 10px 52px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  color: var(--white-color);
  font-size: 16px;
  line-height: 1.9;
  font-weight: 700;
  font-family: inherit;
  transition: background-color var(--time) var(--cubic);
}

.callback__send-button:hover,
.callback__send-button:focus {
  background-color: var(--button-hero-activ);
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--under-hero);
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, #2f303a66 0%, #2f303a66 100%),
    url('../images/img-hero.jpg');
  background-position: center;
}

.hero__content {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 696px;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.hero__button {
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  min-width: 216px;
  padding: 10px 32px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  color: var(--white-color);
  font-size: 16px;
  line-height: 1.9;
  font-weight: 700;
  font-family: inherit;
  transition: background-color var(--time) var(--cubic);
}

.hero__button:hover,
.hero__button:focus {
  background-color: var(--button-hero-activ);
}

.list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.team-section__list{
  margin-top: 0;
  margin-bottom: 0;
}

.quality__item {
  width: 270px;
}

.quality__item + .quality__item,
.work-section__item + .work-section__item,
.team-section__item + .team-section__item {
  margin-left: 30px;
}

.quality__title {
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-text-color);
  line-height: 1.1;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 10px;
}

.quality__text {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.7;
}

.quality__container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: var(--portfolio-button);
  margin: 0;
  margin-bottom: 30px;
}

.team-section {
  background-color: var(--portfolio-background);
}

.work-section {
  padding-top: 0;
}

.work-section__img,
.team-section__img,
.card-container__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  line-height: 1.2;
}

.work-section__item--position {
  position: relative;
}

.work-section__content {
  position: absolute;
  z-index: 1;
  display: inline-flex;
  width: 100%;
  min-height: 70px;
  left: 0;
  bottom: 0;
  background-color: var(--work-sec-bg);
  justify-content: center;
  align-items: center;
}

.work-section__text {
  padding: 0;
  margin: 0;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.team-section__item--border {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.about-team {
  padding: 30px 0;
}

.about-team__name {
  margin-bottom: 10px;
  margin-top: 0;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  line-height: 1.2;
}

.about-team__specialization {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 1.2;
}

.about-team__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 32px;
  padding: 0;
  list-style: none;
}

.about-team__link {
  display: inline-flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  color: var(--icon-social);
  border: none;
  border-radius: 50%;
  transition: background-color var(--time) var(--cubic), color var(--time) var(--cubic);
}

.about-team__item:not(:last-child) {
  margin-right: 10px;
}

.about-team__icon {
  fill: currentColor;
}

.about-team__link:hover,
.about-team__link:focus {
  border: none;
  border-radius: 50%;
  background-color: var(--accent-color);
  color: var(--white-color);
}

.clients__link {
  display: inline-flex;
  width: 170px;
  height: 92px;
  align-items: center;
  justify-content: center;
  color: var(--icon-social);
  border: 1px solid var(--icon-social);
  border-radius: 4px;
  transition: color var(--time) var(--cubic), border var(--time) var(--cubic);
}

.clients__icon {
  fill: currentColor;
}

.clients__link:hover,
.clients__link:focus {
  border-radius: 4px;
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}
