.team-section {
    background-color: $portfolio-background;
}

.team-section__img {
    display: block;
    max-width: 100%;
    height: auto;
}

.team-section__item+.team-section__item {
    margin-left: 30px;
}

.team-section__title {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $second-text-color;
    line-height: 1.2;
}

.team-section__item--border {
    background-color: $white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.about-team {
    padding: 30px 0;
}

.about-team__name {
    margin-bottom: 10px;
    margin-top: 0;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $second-text-color;
    line-height: 1.2;
}

.about-team__specialization {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 1.2;
}

.about-team__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 32px;
}

.about-team__link {
    display: inline-flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    color: $icon-social;
    border: none;
    border-radius: 50%;
    @include transitionM(background-color);
    @include transitionM(color);
    &:hover,
    &:focus {
            border: none;
            border-radius: 50%;
            background-color: $accent-color;
            color: $white-color;
        }
}

.about-team__item:not(:last-child) {
    margin-right: 10px;
}

.about-team__icon {
    fill: currentColor;
}

